* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#cabecalho .nav-link {
    color: #fff;
}

#cabecalho .nav .nav-link.nav-link.active {
    color: rgb(36, 110, 248);
    background-color: whitesmoke;
    font-weight: 700;
}

body {
    background-color: whitesmoke;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(36, 110, 248);
    color: #fff;
    z-index: 9;
}

.navbar {
    width: 100%;
}

#cabecalho .nav-link {
    text-align: center;
}

.botaoWhatsapp > img {
    width: 160px;
}

h4, h1, h2, h5, h3 {
    font-weight: 600;
}

.nav-portofolio .nav-link.active {
    background-color: rgb(36, 110, 248);
    color: #fff;
}

.nav-portofolio .nav-link.active:hover {
    background-color: rgb(36, 110, 248);
    color: #fff;
}

.nav-portofolio .nav-link:hover {
    color: rgb(36, 110, 248);
}

.socialLink li {
    list-style: none;
    display: inline;
}

.socialLink a {
    text-decoration: none;
    cursor: pointer;
}

.contatoLink li {
    list-style-type: none;
    display: block;
}

.contatoLink a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 70px;
    background-color: rgb(36, 110, 248);
}

footer > p {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
}


@media screen and (min-width: 1024px) {
    .carousel-item img {
        height: 550px;
    }
    
    .card img {
        height: 349px;
        width: 100%;
    }

    #avatar {
        width: 200px;
        height: 200px;

    }

    #portfolio img {
        width: 176px;
        height: 132px;
    }

    .sobreNosDescricao {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media  screen and (max-width: 640px) {
    .carousel-item img {
        height: 200px;
    }

    .card img {
        height: 300px;
        width: 100%;
    }

    .sectionSobreNos {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .sobreNosDescricao {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 1023px) and (min-width: 640px) {
    .carousel-item img {
        height: 400px;
    }

    .card img {
        height: 300px;
        width: 100%;
    }

    #portfolio img {
        width: 150px;
        height: 240px;
    }

    .sectionSobreNos {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .sobreNosDescricao {
        display: block;
        text-align: center;
    }
}