* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#cabecalho .nav-link {
    color: #fff;
}

#cabecalho .nav .nav-link.nav-link.active {
    color: rgb(36, 110, 248);
    background-color: whitesmoke;
    font-weight: 700;
}

body {
    background-color: whitesmoke;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(36, 110, 248);
    color: #fff;
    z-index: 9;
}

#cabecalho .nav-link {
    text-align: center;
}

h4, h1, h2, h5 {
    font-family: Pacifico, cursive;
    font-weight: 600;
}

.nav-portofolio .nav-link.active {
    background-color: rgb(36, 110, 248);
    color: #fff;
}

.nav-portofolio .nav-link.active:hover {
    background-color: rgb(36, 110, 248);
    color: #fff;
}

.nav-portofolio .nav-link:hover {
    color: rgb(36, 110, 248);
}



@media screen and (min-width: 1024px) {
    .carousel-item img {
        height: 550px;
    }
    
    .card img {
        height: 349px;
        width: 100%;
    }

    #avatar {
        width: 200px;
        height: 200px;

    }

    #portfolio img {
        width: 176px;
        height: 132px;
    }
}

@media  screen and (max-width: 640px) {
    .carousel-item img {
        height: 200px;
    }

    .card img {
        height: 300px;
        width: 100%;
    }
}

@media screen and (max-width: 1023px) and (min-width: 640px) {
    .carousel-item img {
        height: 400px;
    }

    .card img {
        height: 300px;
        width: 100%;
    }
}